.tabs_color_popover .components-popover__content > div {
	margin: -8px;
	width: 260px;
}

.tabs_color_popover {

	.components-tab-panel__tab-content,
	.ls-color-pallete-container {
		padding: 18px;
	}
}

.tabs_color-support-panel {

	.components-dropdown {
		width: 100%;

		&:nth-child(1) {
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}

		&:nth-child(2) {
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			border-right: 1px solid rgba(0, 0, 0, 0.1);
		}

		&:nth-child(3) {
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}

	button {
		width: 100%;
		padding: 20px 10px;
	}

	.tabs_color_button.isOpen {
		background-color: #f0f0f0;
	}

	.tabs_color_button:hover span,
	.tabs_color_button.isOpen span {
		color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
	}
}

.bbb-tab-spacing .spacing-sizes-control__icon {
	display: none;
}

.bbb-icon-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.bbb-icon-textarea {
	height: 100%;

	.components-base-control__field,
	.components-base-control__field textarea {
		height: 100%;
	}

	.components-base-control__field textarea {
		resize: none;
	}
}

.bbb-custom-icon-modal .components-modal__content > div:nth-child(2) {
	height: 100%;
}

.bbb-icon-preview svg {
	width: 80px;
	height: 80px;
}
